<% 
const {config,blogPosting,blogConfig,URL,nextURL,prevURL,blogPosts} = params;
let blog = config['sf:blogConfig'].Blog;
const extention = '.amp.html';
-%>
<!DOCTYPE html>
<html AMP lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
<%- include('template-blog-amp-head.ejs',{params:params}); %>
</head>
<body dir="ltr">
<%- include('template-blog-amp-nav-header.ejs',{params:params}); %>
<header class="header">
<h1><%-blogPosting.headline%></h1>
</header>
<main>
 <%
    for(const b of blogPosts) {
      let url = b.url;
      const u = new URL(url);
      if(u.origin.match(new RegExp(config.siteDomain))){
        url = url.replace(u.origin,'');
      }
  %>
 <article class="item">
<section>
<h2><a href="<%-url + extention%>"><%-b.headline%></a></h2>
</section>
</article>
<% } %>
<aside>
<%- include('./template-blog-amp-ad.ejs') %>
</aside>
</main>
<footer>
<small>Copylight &copy; 2017 Satoshi Fujiwara. </small>
</footer>
<%- include('template-blog-amp-nav-footer.ejs',{params:params}); %>
<%- include('./template-blog-amp-ga.ejs') %>
</body>
</html>