<% 
const {config,blogPosting,blogConfig,URL,nextURL,prevURL,blogPosts} = params;
const blog = config['sf:blogConfig'].Blog;
const extention = '.amp.html';

%>
<meta charset="UTF-8" />
<title><%=blog.headline + ':' + blogPosting.headline %></title>
<link rel="canonical" href="<%-blogPosting.url + '.html'%>" />
<link rel="alternate" type="application/atom+xml" title="<%-blog.headline%>" href="/blog/feed.xml" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">

<meta name="description" content="<%-blogPosting.description %>" />
<meta name="keywords" content="<%-blogPosting.keywords %>" /> 	
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@sfpgmr" />
<meta name="twitter:url" content="<%-blogPosting.url + extention%>" />
<meta name="twitter:title" content="<%=blogPosting.headline%>" />
<meta name="twitter:description" content="<%-blogPosting.description.substring(0,30) + '...'%>" />
<meta name="twitter:image" content="<%-blogPosting.image.url%>" />

<meta property="og:type" content="article">
<meta property="og:url" content="<%-blogPosting.url + extention%>" />
<meta property="og:title" content="<%-blogPosting.headline%>" />
<meta property="og:site_name" content="<%-blog.headline%>" />
<meta property="og:description" content="<%-blogPosting.description%>">
<meta property="og:image" content="<%-blogPosting.image.url%>">

<link rel="icon" href="/img/sfblog-icon.png" />
<link rel="apple-touch-icon" sizes="64x64" href="/img/sfblog-icon.png">
<%
  let graph = [];
  graph.push(Object.assign({},blogPosting));
  graph.push(Object.assign({},blog));
  graph.push(config.WebSite);
  graph[0]['@id'] = graph[0].url = graph[0].url + extention;

  let blogJsonLd = {'@context':config['@context'],'@graph':graph};
%>
<script type="application/ld+json">
<%- JSON.stringify(blogJsonLd,null,1); %>
</script>
<style amp-custom>
<%- include('./sfblogstyle.css') %>
<%- params.customCss || '' %>
<%- include('../../css/include/amp/amp-social.css') %>
</style>
<!-- this style tag is required -->
<style amp-boilerplate>
body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<%- include('./template-blog-amp-scripts.ejs',{params:params}) %>

